export(liu_build)
export(liu_free)
export(liu_isin)
export(liu_join)
export(liu_max)
export(liu_min)
export(liu_search)
export(liu_search_range)
export(liu_search_prefix)
useDynLib(liu, .registration = TRUE)
importFrom("stats", "na.omit")